body {
    background-color: #9AD2F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* BASE CARD */

.bubblechat {
    width: 250px;
    height: 160px;
    border: 4px solid #549DE3;
    border-radius: 8px;
    padding: .5em .8em;
    margin: 1em .5em;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Verdana';
}

/* INTRO CARD */

.bubblechat input {
    width: 190px;
    height: 2em;
    border-radius: 8px;
    border: 1px solid #549DE3;
    padding: .2em .2em .2em .4em;
    position: relative;
    background-color: rgb(206, 203, 203);
}

.bubblechat p {
    width: 250px;
    height: 120px;
    margin: 0;
    padding: 0;
}

.bubblechat img {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 0;
    /* border: #549DE3 1px solid; */
}

.next-btn, .next-txt-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #549DE3;
    position: relative;
    top: -5px;
}

.next-btn:hover, .next-txt-btn:hover {
    fill: #3a6e9f;
    color:#3a6e9f;
    top: -4px;
    border-bottom: #3a6e9f 3px solid;
}

.next-txt-btn:hover {
    fill: #3a6e9f;
    color:#3a6e9f;
    top: -4px;
    border-bottom: #3a6e9f 3px solid;
}

.formanswer {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

/* TEXT CARD */

.next-txt-btn {
    width: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #549DE3;
    align-self: flex-end;
}

/* INTRO PAGE */

.intro_character {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.polarbear {
    width: 400px;
}

/* SCENE 1 */

/* BUTTON CARD */

#bubble_chat {
    width: 300px;
    height: 160px;
    border: 4px solid #549DE3;
    background-color:white;
    border-radius: 8px;
    padding: 1em;
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btncard_btn {
    display: grid;
    text-decoration: none;
    font-weight: 100;
    top: 100%;
    margin: auto;
    padding:0.5em 2em;   
    border-radius:2em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;   
}

a {
    text-decoration: none;
    color: white;
}

div.card-btn:hover {
    background-color:#4095c6;
    /* font-weight: 150; */
    cursor: pointer;
}

.card-btn{
    height: 20px;
    width: 80px;
    background-color: #549DE3;
    text-align: center;
    padding: .2em;
    border-radius: 4px;
    color: white;
    align-self: center;
    justify-self: end;
    margin-top: 10px;
}


/* Bimo */

.bimo1 {
    width: 200px;
    transform: rotatey(180deg);
    position: absolute;
    left: 55%;
    top: 60%;
    /* display: none; */
}

.bimo1:hover {
    width: 210px;
}

#scene1, #scene2, #scene3 {
    display: none;
}