body {
    background: url("./graphics/storybackground.jpeg") repeat-x   ;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.turtle-img, .waterbottle-img, .imagefootder, .clownfishgirl-img {
    position: absolute;
    /* width: 300px;
    height: 300px; */
    display: none;
}

.card2, .card3, .card4, .card5, 
.card6, .card7, .card8, .card9 {
    display: none;
}

.nemofish-img > img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 3em;
    -webkit-transform: scaleX(-1); /*flip img */
    transform: scaleX(-1);

}   

.shoppingbag-img > img {
   position: absolute;
   width: 100px;
    height: 100px;
}

.waste > img {
    position: absolute;
    width: 100px;
    height: 100px;
}

.waterbottle {
    background-color: brown;
    left: 0;
    transform: rotate(-25deg);
    transform-origin: 20% 40%;
  
}