body {
    /* The image used */
        background: url("./graphics/storybackground.jpeg") no-repeat center center fixed;
    
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   
    overflow: hidden;
    /* border: 1px solid red; */

}

 
/* body { 
    padding-bottom: 20px;  */
    /* fixed white gap at the bottom of the page */
/* } */


button-card, cont-card, help-card {
   margin-top: 5em;
 
}

cont-card {
  line-height: 20px;
}

.turtle {
  display: none;
}


.card2, .card3, .card4, .card5, 
.card6, .card7, .card8, .card9 {
    display: none;
    position: absolute;
}

.nemofish > img {
    position: absolute;
    width: 100px;
    right: 3em;
    top: 40%;
    /* -webkit-transform: scaleX(-1); */
    /* transform: scaleX(-1); */
    animation-name: wiggle;
    animation-duration: 2s;
    transform-origin: 20% 40%;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;

}   

.waste > img {
    /* display: flex;
    position: absolute; */
    visibility: visible;
    width: 120px;
    height: 120px;
    -webkit-filter: drop-shadow(0px 0px 10px rgb(198, 249, 250, 0.5));
         filter: drop-shadow(0px 0px 10px rgb(198, 249, 250, 0.5));

         cursor: pointer;
         animation: anti-wiggle 1s ease-in-out;
         animation: wiggle 1s ease-in-out;
        
}

/* .waste > img:hover {
        visibility: hidden;
} */

  
  
.waste > img, #clownfishgirl, .turtle_char > img, .bottle_char > img {
    outline: 0;
    animation-name: wiggle;
    animation-duration: 2s;
    transform-origin: 20% 40%;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
  }

  @keyframes wiggle {
    0% { -webkit-transform: translate(2px, 1px); }
    10% { -webkit-transform: translate(-1px, -2px); }
    20% { -webkit-transform: translate(-3px, 0px); }
    30% { -webkit-transform: translate(0px, 2px); }
    40% { -webkit-transform: translate(1px, -1px); }
    50% { -webkit-transform: translate(-1px, 2px); }
    60% { -webkit-transform: translate(-3px, 1px); }
    70% { -webkit-transform: translate(2px, 1px); }
    80% { -webkit-transform: translate(-1px, -1px); }
    90% { -webkit-transform: translate(2px, 2px); }
    100% { -webkit-transform: translate(1px, -2px); }
}


@keyframes wiggle {
  20% {

    transform: rotate(2deg)
  }
  
  40% {

    transform: rotate(-2deg);
  }
  
  60% {

    transform: rotate(2deg)
  }
  
  80% {

    transform: rotate(-2deg);
  }
  
  100% {

    transform: rotate(0deg);
  }
}

@keyframes anti-wiggle {
  20% {
    transform: translateX(2px) rotate(-2deg);
  }
  
  40% {
    transform: translateX(-2px)  rotate(2deg);
  }
  
  60% {
    transform: translateX(2px)  rotate(-2deg);
  }
  
  80% {
    transform: translateX(-2px)  rotate(2deg);
  }
  
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}


scene-waste {
  width: 100px;
  height: 100px;
}

/* .shoppingbag > img {
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;
} */

#waterbottle {
    /* transform: rotate(-25deg); */
    position: absolute;
    top: 70%;
    left: 10%;
    /* transform: scale(1.5, 2) */
    transform: matrix(1.5, -0.5, 0.5, 2, 0, 0);
}

#cup  {
    /* transform: rotate(15deg); */
    position: absolute;
    /* visibility: visible; */
    top: 55%;
    left: 30%;
    /* transform: scale(.8, 0.8); */
    transform: matrix(0.8, 0.3, -0.3, 0.8, 0, 0);
}


#cutlery {
    /* transform: rotate(-15deg); */
    position: absolute;
    top: 60%;
    left: 50%;
    /* transform: scale(.8, 0.8); */
    transform: matrix(0.5, -0.3, 0.3, 0.5, 0, 0);
}


#garbage {
    /* transform: rotate(10deg); */
    position: absolute;
    top: 65%;
    left: 75%;
    transform: matrix(1, 0.3, -0.3, 1, 0, 0);
}

#shoppingbag {
  position: absolute;
    top: 49%;
    left:20%;
    transform: rotate(90deg);
    z-index: 1;
    display: none;
}

#clownfishgirl {
  position: absolute;
  top: 49%;
  left: 20%;
  transition: transform 1s;
  display: none;
  cursor: pointer;
}



.nemo_char img {
  width: 120px;
}

div.nemo_char:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.1);
}

#turtle {
  position: absolute;
  display: block;
  top: 70%;
  left: 52%;
  transform: rotate(20deg);
  cursor: pointer;
  z-index: 1;
  display: none;
}

.turtle_char img {
  width: 150px;
}


#bottle {
  position: absolute;
  display: block;
  top: 67%;
  left: 60%;
  transform: rotate(60deg);
  cursor: pointer;
  display: none;
}


div.imagefooter {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    bottom: 0;
    width: 33.33%;
    background-repeat: repeat;
}

.imagefooter > img {
    position: relative;
    width: 135px;
    height: 135px;
}




