html,body{
    background-color: #172c41;
  height: 100%;
  }
  .bg{
    background: url("./graphics/storybackground.jpeg") repeat-x   ;
    width: 100%;
  height: 400%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .image-session1{
    position: absolute;
    display: grid;
    top: 40%;
    grid-template-columns: repeat(3,590px);
  }
  .image-session2{
    position: absolute;
    display: grid;
    top: 70%;
    grid-template-columns: repeat(3,590px);
  }
  .imageheader{
    position: absolute;
    display: flex;
    top: 20%;
    margin-left: 30%;
  
  }
  .shoppingbag-img,.clownfishgirl-img{
    position: absolute;
  }
  .shoppingbag-img{
    z-index: 3;
  }
  .clownfishgirl-img{
    z-index: 2;
    margin-top: 20px;
    margin-left: 100px;
  }
  .imagefootder{
    position: absolute;
    display: flex;
    bottom: 0;
  }
  
  .shoppingbag{
    width: 400px;
      height: 400px;
    transform: rotate(90deg);
  }
  .clownfishgirl{
    width: 350px;
      height: 350px;
  
  }
  .garbage{
    width: 400px;
      height: 400px;
  }
  .reef{
    width: 435px;
    height: 600px;
  }
  .coral{
  
    width: 435px;
    height: 600px;
  }
  .coral1{
    width: 435px;
    height: 600px;
  
  }
  
  
  .turtle-img,.waterbottle-img{
  position:absolute;
  }
  .turtle-img{
  z-index: 3;
  }
  .waterbottle-img{
  z-index: 2;
  }
  .turtle{
    width: 400px;
      height: 400px;
      margin-left: 10%;
      margin-top: 25%;
  }
  .waterbottle{
    width: 300px;
    height: 300px;
    margin-left: 80%;
  
    transform: rotate(45deg);
  }
  
  
  @media only screen and (max-width: 600px) {
    .turtle{
      width: 200px;
      height: 200px;
      margin-top: 20%;
      margin-left: 15%;
    }
    .waterbottle{
      width: 150px;
      height: 150px;
      
    }
    .shoppingbag{
      width: 200px;
        height: 200px;
        margin-left: 20px;
    }
    .clownfishgirl{
      width: 150px;
        height: 150px;
    
    }
    .garbage{
      width: 200px;
        height: 200px;
    }
    .reef{
      width: 185px;
      height: 230px;
    }
    .coral{
      width: 185px;
      height: 230px;
    }
    .coral1{
      width: 185px;
      height: 230px;
    }
  
  }
  
  .content0{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .content1{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  
  }
  .content2{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    }
    .content3{
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      
      }
      .content4{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        }
        .content5{
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          
          }
          .content6{
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            
            }
  /*CARD */
  .bubblechat {
      width: 50%;
      height: 300px;
      border: 4px solid #549DE3;
      border-radius: 8px;
      padding: .5em 1em;
      margin: 1em .5em;
      display: flex;
      flex-direction: column;
      background-color: white;
      text-align:justify;
      font-size: larger;
  }
  